apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: { { .Values.replicaCount } }
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: { { .Values.images.worker } }
          env:
            - name: REDIS_HOST
              value: "redis"
            - name: DB_HOST
              value: "db"
            - name: DB_USER
              value: { { .Values.postgres.user | quote } }
            - name: DB_PASSWORD
              value: { { .Values.postgres.password | quote } }
            - name: DB_NAME
              value: { { .Values.postgres.db | quote } }
