replicaCount: 2

images:
  voteApi: shishir77/vote-api:latest
  resultApi: shishir77/result-api:latest
  worker: shishir77/worker:latest
  voteUi: shishir77/vote-ui:latest
  redis: redis:alpine
  postgres: postgres:15-alpine

postgres:
  user: postgres
  password: postgres
  db: postgres

resultApi:
  adminKey: test123
