# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# System
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Terraform (just in case, though it has its own)
.terraform/
*.tfstate
*.tfstate.backup
